footer
    position: absolute
    bottom 0
    height: $footerHeight
    width 100%
    padding 50px 0
    background-color: $main
    color $white

    a
        color $white
        text-decoration: underline
