header
	background-color: $main
	.content
		flexbox()
		align()
		justify(space-between)
		height: $headerHeight
		color: $textLight

        // h1
        // 	fs(24px)
        // 	font-weight 400

        .logo
            height 80px
            color white
            flexbox()
            align()
            fs(24px)

            img
                height 100%
                width auto
